*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header,main{
    display: flex;
    justify-content: center;
    width: 100%;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 1rem 0;
}

.logo{
    width: 150px;
}

main .wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center
}

.textarea{
    width: 90%;
    max-width: 600px;
    outline: none;
    background-color: transparent;
    border: 2px solid #333;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    resize: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    overflow-y: hidden;
    font-family: serif;
    color:#111;
    height: calc(55px + 0.5rem + 2rem + 4px);
}

.wpm{
    display: block;
    background-color: #ddd;
    font-size: 1.4rem;
    padding: 0.7rem 1.2rem;
}

.input-block{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.input{
    outline: none;
    border-radius: 0;
    padding: 12px;
    border: 2px solid #333;
    font-size:1.2rem;
}

.stopwatch{
    background-color: #ccc;
    padding: 0 1rem;
    display: grid;
    place-items: center;
    font-size: 1.4rem;
}

.stop{
    background-color: #eee;
    border: none;
    padding: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    position: relative;
}

.stop::after{
    content: 'Stop the timer to see the result';
    position: absolute;
    width: 80px;
    font-size: 0.7rem;
    background-color: #eee;
    color: #000;
    padding: 0.5rem;
    border-radius: 4px;
    bottom: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition:opacity 0.2s ease-out;
}

.stop::before{
    content: '';
    border: 10px solid transparent;
    position: absolute;
    border-top-color: #eee;
    bottom: calc(100%);
    left:50%;
    transform: translateX(-50%);
    opacity: 0;
    transition:opacity 0.2s ease-out;
}

.stop:hover::after,
.stop:hover::before{
    opacity: 1;
}

.generate{
    border: none;
    outline: none;
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

footer{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 0.7rem;
}